body{
    /* max-width: 230px; */
    /* max-height: 409px; */
    height: 100%;
    width:100%;
    background: black;
    color: white;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2em 3em auto;
    margin: 0;
    font-family: sans-serif;
    position: fixed;
    font-size: 18px;

    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}

input {
    border: none;
    margin: 0;
    background: none;
    color: white;
    border-radius: 0;
}

.header {
    grid-column-start: span 4;
    text-align: right;
}

.formula-header {
    display: flex;
    position: relative;
}

#formula {
    padding: 5px;
    flex: 1 1 auto;
    text-align: right;
    font-size: 16px;
}

.recent-list {
    position:absolute;
    width: 100%;
    top: 100%;
    height: 100vh;
    display: none;
}

.recent-list > ul {
    list-style-type: none;
    background: black;
    margin: 0;
    padding: 5px;
    padding-right: 10px;
}

.recent-list a {
    display: block;
    color: currentcolor;
    text-decoration: none;
    padding: 4px;
    font-size: 20px;
}

.recent-list:active,
#recent-list:focus,
#recent-list:active,
#recent-list *:focus,
#recent-list *:active,
#formula:focus + .recent-list {
    display: block;
}

#result-formula {
    flex: 1 1 auto;
}

#result-header > * {
    visibility:hidden;
}

#result-header.have-result > * {
    visibility: visible;
}

.header-result {
    text-align: right;
    display: flex;
    align-items: center;
}

.result-item {
    display: inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    margin: 0.1em;
}

.result-item.fixed {
    flex: 0 0 auto;
}

#result {

    text-align: center;
    font-size: 2em;
    margin: 0em 0.5em;

}

.input {
    display:grid;

    flex: 1 1 auto;
}

.action-r {
    grid-row-start: span 2;
}

button {
    margin: 0;
    border: none;
    font-size: 1rem;

}

svg {
    width: 1rem;
    height: 1rem;
    fill: currentcolor;
}

.formula-header {
    background: rgb(39, 39, 39);
}


.header-result {
    background: rgb(44, 44, 44);
}


.preset {
    background: rgb(204, 204, 204);
    color: black;
}

.preset:active {
    background: rgb(214,214,214);
}

.action {
    background: rgb(195, 54, 38);
    color: white;
}

.action:active {
    background: rgb(233, 65, 45)
}

.op {
    font-weight: bold;
    font-size: 1em;
    color: white;
    background: rgb(249, 164, 73);
}

.op:active{
    background: rgb(255, 168, 75);
}

.num {
    color: black;
    background: rgb(213, 213, 213);
}

.num:active {
    background: rgb(227,227, 277);
}

.action-r {
    color: white;
    background: rgb(248, 156, 63);
}

.action-r:active{
    background: rgb(255, 168, 75);
}


.paren {
    color: black;
    background: rgb(204, 204, 204);
}

.paren:active {
    background: rgb(214,214,214);
}
